.cartPage {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
}
.cartPage .title {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 30px;
  margin-bottom: 1.5rem;
  color: #101010;
}

.emptyCart {
  text-align: center;
  margin: auto;
  padding: 2rem;
}
.emptyCart .title {
  font-size: 30px;
  margin-bottom: 1rem;
}
.emptyCart .message {
  font-size: 20px;
  color: #838383;
  margin-bottom: 2rem;
}
.emptyCart .catalogButton {
  background-color: #101010;
  color: white;
  border: none;
  border-radius: 20px;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.2s;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  width: 530px;
  height: 65px;
}
.emptyCart .catalogButton:hover {
  background-color: #ffa542;
}

.emptyCartImage {
  width: 410px;
  height: 315px;
  margin-bottom: 30px;
  align-items: center;
}

.cartContent {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}

.leftSide {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cartItemBox {
  background: #fff;
  border-radius: 20px;
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.itemInfo {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.itemImage {
  width: 70px;
  height: 70px;
  border-radius: 10px;
  -o-object-fit: contain;
     object-fit: contain;
}

.itemTitle {
  font-size: 18px;
  font-weight: 500;
}

.itemPrice {
  color: #aaa;
  font-size: 14px;
}

.itemControls {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.quantityControls {
  display: flex;
  align-items: center;
  gap: 10px;
}
.quantityControls button {
  background-color: #ffe600;
  border: none;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.totalItemPrice {
  font-weight: bold;
  font-size: 16px;
}

.removeButton {
  background: none;
  border: none;
  color: #999;
  cursor: pointer;
  font-size: 20px;
}
.removeButton:hover {
  color: red;
}

.deliveryBox {
  background: #fff;
  border-radius: 20px;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.deliveryHeader {
  font-size: 18px;
  font-weight: 600;
}

.map {
  width: 100%;
  height: 200px;
  border: none;
  border-radius: 10px;
}

.deliveryFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  color: #000;
}
.deliveryFooter svg {
  margin-right: 8px;
}

.deliveryPrice {
  font-weight: 500;
}

.summaryBox {
  width: 260px;
  background: #fff;
  padding: 1.5rem;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.summaryBox h3 {
  font-size: 20px;
  font-weight: 600;
}
.summaryBox .summaryPrice {
  font-size: 22px;
  font-weight: bold;
}
.summaryBox .checkoutBtn {
  background: #101010;
  color: #fff;
  border: none;
  padding: 0.8rem 1.2rem;
  border-radius: 15px;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s;
}
.summaryBox .checkoutBtn:hover {
  background: #ffa542;
}/*# sourceMappingURL=style.module.css.map */